body {
    font-family: sans-serif;
    background-color: #BAD7D7;
}

header {
    justify-content: space-between;
    padding: ;
    margin-bottom: 20px;
    display: flex;
}

.button {
    color: black;
    text-decoration: none;
    padding: 5px 5px 0px 5px;
    font-size: 24px;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 5px;
    background-color: #CBC5E0;
    border: 5px solid #6E6197;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
    display: flex;
}

.nav-link {
    font-size: 24px;
    color: black;
    text-decoration: none;
    border: 5px solid #6E6197;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    background-color: #CBC5E0;
}

h1 {
    text-align: center;
    color: black;
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
    display: flex;
}

article {
    background-color: white;
    padding: 15px;
    width: 400px;
    margin: 15px;
}

.article-but {
    text-decoration: none;
    background-color: grey;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    border-radius: 5px;
    margin-bottom: 30px;
}

footer {
    padding: ;
    display: flex;
}

footer a {
    margin-top: 60px;
    margin-right: 5px;
    margin-left: 10px;
}

footer p {
    font-size: 24px;
    margin-top: 80px;
    margin-right: 10px;
}

.photo {
    margin-left: 15px;
}
